<!DOCTYPE html>
<html lang="en">
<head>
    <title>Items</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>Available Items</h1>
    <ul>
        {% for item in items %}
        <li>
            <h2>{{ item.name }}</h2>
            <img src="{{ url_for('static', filename='img/Pringles Can.jpg') }}" alt="Pringles">
	    <img src="{{ url_for('static', filename='img/glove.jpg') }}" alt="Glove">
	    <img src="{{ url_for('static', filename='img/sponges.jpg') }}" alt="Sponges">
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('shopping_cart') }}">Go to Cart</a>
</body>
</html>
