<!doctype html>
<html>

<head>
  <title>Items Summary</title>
  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>

<body>
  <h1>Items Summary</h1>
  <a href="{{ url_for('shopping_cart') }}">View Cart</a>
  
  <ul>
      {% for item in items %}
      <li>
          <img src="{{ item.image }}" alt="{{ item.name }}" width="50">
          <a href="{{ url_for('item_detail', item_id=item.id) }}">{{ item.name }}</a>
      </li>
      {% endfor %}
  </ul>
</body>

</html>

