<!DOCTYPE html>
<html>
<head>

    <title>Orders</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<nav>
        <a href="{{ url_for('item_sum_page') }}">Shop</a>
        <a href="{{ url_for('shopping_cart') }}">Cart</a>
        
        {% if 'user' in session %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
    </nav>


    <h1>All Orders</h1>

    {% for order in orders %}
        <div class="container">
            <div class="header">Order #{{ order.id }}</div>
            <div class="details"><strong>Name:</strong> {{ order.user.real_name }}</div>
            <div class="details"><strong>Address:</strong> {{ order.user.address }}</div>
            <div class="details"><strong>Items:</strong></div>
            <ul class="list">
                {% for order_item in order.orderitem_set %}
                    <li>{{ order_item.item.name }} (x{{ order_item.quantity }})</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

</body>
</html>

