<!doctype html>

<html>

<head>
		<title>Register Page</title>
</head>

<body>

<h1>Register</h1>
<form method="POST" action="{{ url_for('login')}}">
		Username: <input name="new_username" type="text">
		<br>
		Password: <input name="new_password" type="password">
		<br>
		Real Name: <input name="real_name" type="text">
		<br>
		Email: <input name="email" type="text">
		<br>
		Mailing Address: <input name="mailing_address" type="text">
		<br>
		Credit Card Number: <input name="credit_card_number" type="text">
		<br>
		<input type="submit" value="Register">
</form>

</body>

</html>
