<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">`
</head>
<body>

    <h1>Register</h1>
    <form method="POST" action="{{ url_for('register') }}"> <!-- Correct form action -->
        <label for="new_username">Username:</label>
        <input type="text" id="new_username" name="new_username" required><br><br>
        
        <label for="new_password">Password:</label>
        <input type="password" id="new_password" name="new_password" required><br><br>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="ccn">Credit Card Number:</label>
        <input type="text" id="ccn" name="ccn" required><br><br>

        <button type="submit">Register</button>
    </form>

    {% if message %}
        <p style="color: red;">{{ message }}</p>
    {% endif %}

    <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
</body>
</html>

